.app {
  position: relative; /* Changed from display to position for proper stacking context */
  display: flex; /* Changed display property to flex */
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100vw; /* Changed to 100vw to ensure full width */
  overflow: hidden;
  background-color: #f5f5f5;
}
.home-button {
  position: fixed;
  top: 20px;
  left: 20px;
  padding: 10px 20px;
  background-color: #333;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.header {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 2;
}

.control-button {
  margin-top: 10px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
}

.game-title {
  font-size: 1.5em;
  color: black; /* Adjusted for better contrast */
  margin-bottom: 10px;
  text-align: center;
}

.gif-container {
  margin-top: 10px;
}

.controls-gif {
  width: 300px;
  height: auto;
}

.scroll-container {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  position: relative;
}

.road {
  position: absolute;
  top: 0;
  left: 0;
  width: 300%;
  height: 100%;
  background-size: contain;
  background-repeat: repeat-x;
  animation: scrollRoad 0.1s linear ; 
}

.girl {
  position: absolute;
  bottom: 20px;
  width: 300px;
  height: 300px;
  background-size: contain;
  background-repeat: no-repeat;
}



.element {
  position: absolute;
  bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.element img {
  width: 100px;
  height: 100px;
  cursor: pointer;
}

.element-name {
  font-size: 14px;
  text-align: center;
  margin-top: 5px;
}

@keyframes scrollRoad {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-100%);
  }
}

.report-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
}

.report-container h1 {
  font-size: 2.5em;
  margin-bottom: 20px;
}

.report-container p {
  font-size: 1.2em;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.restart-button-container {
  text-align: center;
}

.restart-button {
  padding: 10px 20px;
  font-size: 18px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.restart-button:hover {
  background-color: #45a049;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.exit-button {
  margin: 0 10px;
  padding: 10px 20px;
  font-size: 18px;
  background-color: #FF5733;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.exit-button:hover {
  background-color: #E74C3C;
}

.final-report-button {
  margin: 0 10px;
  padding: 10px 20px;
  font-size: 18px;
  background-color: #3498DB;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.final-report-button:hover {
  background-color: #2980B9;
}

.touch-controls {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.touch-control {
  flex: 1;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  cursor: pointer;
}

.touch-control.left {
  border-right: 1px solid white;
}

.touch-control.right {
  border-left: 1px solid white;
}
