/* LandingPage.css */
.landing-page {
  position: relative;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: center;

  
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black overlay */
}

.content {
  text-align: center;
  color: white;
}

.logo {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 100px; /* Adjust the size as needed */
  height: auto;
}


.landing-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
  z-index: 1;
}

.landing-title {
  font-size: 3.5em;
  margin-bottom: 20px;
}

.landing-description {
  font-size: 2.2em;
  margin-bottom: 20px;
}

.landing-buttons {
  display: flex;
  gap: 20px;
}

.landing-button {
  padding: 10px 20px;
  font-size: 1em;
  background-color: #FF5733;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.landing-button:hover {
  background-color: #45a049;
}
.landing-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.7); /* Dark background for the footer */
  color: white;
  padding: 10px 0;
  z-index: 2;
}

.landing-footer a {
  color: white; /* Make link color white */
  text-decoration: none;
}

.landing-footer a:hover {
  text-decoration: underline; /* Underline on hover */
}
@media only screen and (max-width: 768px) {
  .landing-container {
    width: 90%; /* Adjust width for smaller screens */
  }
}
